<div class="menup">
    <ul>
        <li><a href="features"><span>Backlog</span></a></li>
      <% Sprint.all(:order => "start DESC").each do |sprint| %>
        <li><%= link_to content_tag(:span, sprint.name), :controller => "tasks", :action => "index", :sprint_id => sprint.id %></li>
      <% end %>
        <li class="current"><a href="#"><span>Configuration</span></a></li>
    </ul>
</div>
<div class="menup">
    <ul>
        <li><a href="sprints"><span>Sprints</span></a></li>
        <li><a href="users"><span>Users</span></a></li>
        <li class="current"><a href="#"><span>Locations</span></a></li>
        <li><a href="projects"><span>Projects</span></a></li>

    </ul>
</div>
<div style="clear:both"></div>

<div id="conf-list">

    <h1>Locations</h1>

    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @locations.each do |location| %>
      <tr  class="<%= cycle('list-line-odd','list-line-even') %>">
        <td><%= location.name %></td>
        <td><%= eye_tag "View location details", {:id => location} %></td>
        <td><%= pencil_tag "Edit location", {:id => location}%></td>
        <td><%= delete_tag "Delete location", location %></td>

      </tr>
    <% end %>
    </table>

    <br />

    <%= new_tag 'New Location' %>
</div>